HIVE_ID=HIVE-01
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=hive/+/telemetry
MQTT_CMD_TOPIC=hive/+/cmd/calibrate
DB_PATH=data/hive.db
CONFIG_PATH=config/hive_config.json
HONEY_MODEL_PATH=config/honey_model.json
SIM_MODE=true
SIM_SPEED=60
PORT=8000
HOST=0.0.0.0
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
CONTRACT_ADDRESS=0x98bA417C04E4fD8F19B86470C88850C77F47FcaB
